# External library required for testing
pytest==8.3.3

# The following libraries are used but are part of the Python standard library:
# json
# pathlib
# typing
# sys
# os

# No other third-party dependencies required
